body{
    background-color: rgb(197, 152, 84);
}
.getStarted{
    text-align: center;
    color: white;
    margin-top: 10px;
}
.wrapper.wordGrid{
    /* background-color: rgb(197, 152, 84); */
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 100%;
    padding: 1%;
    grid-gap: 10px;

}
div.wrapper.word{
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    padding: .2%;
    grid-gap: 8%;
    margin-left:7%;
    margin-right:7%;
    margin-top:-42px;
    position: absolute;
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Tajawal', sans-serif;
    font-family: 'Arvo', serif;
    letter-spacing: 20px; 
    margin-top: 500px;
    color:rgb(143, 95, 31);
    /* float:left; */

}
/* h2.wordGuess2{
    float:left;
} */
.wrapper.woodBlocks{
      
      display: grid;
      grid-template-columns: repeat(18, 1fr);
      /* grid-template-columns: 100%; */
      /* padding: .2%; */
      grid-gap: .7%;
      margin-left:7%;
      /* margin-right:7%; */
      /* margin-top:475px;////use */
      margin-top:475px;
      position: absolute;  

}
.wrapper.userLogs{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    color:rgb(37, 25, 8);
    margin: auto;
    margin-top:600px;
    height: 80px;
    font-family: 'Tajawal', sans-serif;
    font-family: 'Arvo', serif;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}
img {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
  }
  /* .woodImg1{
    margin-top:200px; 
  } */
/* .word{
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Tajawal', sans-serif;
    font-family: 'Arvo', serif;
} */
/* .wordGuess{
    
    letter-spacing: 20px; 
    margin-top: 500px;
    color:rgb(143, 95, 31);

} */
.wrapper.enjoy-css {
    text-shadow: 0 1px 0 rgb(204,204,204) , 0 2px 0 rgb(201,201,201) , 0 3px 0 rgb(187,187,187) , 0 4px 0 rgb(185,185,185) , 0 5px 0 rgb(170,170,170) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 5px 10px rgba(0,0,0,0.247059) , 0 10px 10px rgba(0,0,0,0.2) , 0 20px 20px rgba(0,0,0,0.14902) ;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    padding: .3%;
    grid-gap: 6%;
    margin-left:6.7%;
    /* display: inline-block; */
    width: 360px;
    /* margin-right:20%; */
    /* margin-top:-42px; */
    position: absolute;
    text-align: center;
    /* align-self: center; */
    /* align-items: center; */
    /* margin: auto;
    text-align: justify;
    vertical-align:middle;
    text-align: center;
    text-justify: inter-word; */
    
    font-family: 'Tajawal', sans-serif;
    font-family: 'Arvo', serif;
    /* letter-spacing: 20px;  */
    margin-top: 500px;
    color:rgb(143, 95, 31);
  }
/* h2.wordGuess1{
    text-align: center;
} */
  
  /* .enjoy-css:hover{
    
    text-shadow: 0 1px 0 rgba(255,255,255,1) , 0 2px 0 rgba(255,255,255,1) , 0 3px 0 rgba(255,255,255,1) , 0 4px 0 rgba(255,255,255,1) , 0 5px 0 rgba(255,255,255,1) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 -5px 10px rgba(0,0,0,0.247059) , 0 -7px 10px rgba(0,0,0,0.2) , 0 -15px 20px rgba(0,0,0,0.14902) ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  } */